backend:
  name: git-gateway
  branch: main

media_folder: "public/images"
public_folder: "/images"

collections:
  - name: "blog"
    label: "文章"
    folder: "content/blog"
    create: true
    fields:
      - { label: "標題", name: "title", widget: "string" }
      - { label: "封面圖片", name: "thumbnail", widget: "image" } # <--- 加入這一行
      - { label: "日期", name: "date", widget: "datetime" }
      - { label: "內容", name: "body", widget: "markdown" }
